
<div class="main-container">
    <div class="form-section">
        <input type="text" placeholder="Cédula" [(ngModel)]="cliente.cedula" name="cedula">
        <button (click)="obtenerClientes()">Enviar</button>
    </div>
</div>

<div class="table-section" *ngIf="clientes.length > 0">
    <table>
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.cedula }}</td>
                <td>{{ cliente.consumo }}</td>
                <td>{{ cliente.deuda }}</td>
            </tr>
        </tbody>
    </table>
</div>